{{ partial "head" }}

<p>Latest Posts </p>

<ul>
	{{ range first 6 (where .Site.Pages.ByDate.Reverse "Section" "post") }}
	{{if .Params.title }}
	<li>
		<span style="float:right; text-decoration: underline; color: gray;">{{ .Lastmod.Format "2 Jan 2006" }}</span>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</li>
	{{ end }}
	{{ end }}
</ul>

{{ .Content }}

<p>Photos</p>

<div id="nanogallery2" data-nanogallery2='{ 
    "userID": "155620349@N02", 
    "kind": "flickr", 
    "album": "none", 
    "thumbnailHeight": "auto",
    "thumbnailWidth":  "300",
    "flickrAPIKey": "8332a5d9d5f8ed0148f3b6865deb7c98"
}' ></div>


{{ partial "foot" }}